:root {
    --spacing-0-25: 0.25rem;
  --spacing-0-5: 0.5rem;
  --spacing-1: calc(var(--spacing-0-5) * 2);
  --spacing-1-5: calc(var(--spacing-1) + var(--spacing-0-5));
  --spacing-2: calc(var(--spacing-1) * 2);
  --spacing-2-5: calc(var(--spacing-2) + var(--spacing-0-5));
  --spacing-3: calc(var(--spacing-1-5) * 2);
  --spacing-3-5: calc(var(--spacing-3) + var(--spacing-0-5));
  --spacing-4: calc(var(--spacing-2) * 2);
  --spacing-4-5:  calc(var(--spacing-4) + var(--spacing-0-5));;
}
