<div class="home-container --grid">
  <form [name]="form" novalidate (ngSubmit)="onSubmit()">
    <app-dropdown label="Ras" [form]="form" control="breed" [data]="breeds">
    </app-dropdown>

    <app-dropdown
      label="Activiteit"
      [form]="form"
      control="activity"
      [data]="activityLevel"
    >
    </app-dropdown>

    <app-dropdown
      label="Gesterialiseerd"
      [form]="form"
      control="status"
      [data]="catstatus"
    >
    </app-dropdown>
    <app-input
      label="gewicht"
      [form]="form"
      control="weight"
      type="number"
    ></app-input>
    <button type="submit">miauw</button>
  </form>
  <div>{{ dailyCalories }}</div>
</div>
