<div class="home-container --grid">
  <form [name]="form" novalidate [onsubmit]="onSubmit()">
    <app-dropdown
      label="Ras"
      [control]="form.controls.breed"
      [data]="breeds"
      controlName="breed"
    >
    </app-dropdown>

    <app-dropdown
      label="Activiteit"
      [control]="form.controls.activity"
      [data]="activityLevel"
      controlName="activity"
    >
    </app-dropdown>

    <app-dropdown
      label="Gesterialiseerd"
      [control]="form.controls.status"
      [data]="catstatus"
      controlName="status"
    >
    </app-dropdown>
    <app-input
      label="gewicht"
      [control]="form.controls.weight"
      type="number"
      controlName="weight"
    ></app-input>
  </form>
</div>
